{% if field.label %}
  <label class="form-label">{{ field.label }}</label>
{% endif %}
{% set name_prefix = main_field_name + '.' if main_field_name else '' %}
<input
  type="email"
  class="form-control"
  id="{{ name_prefix }}{{ field.name }}" 
  name="{{ name_prefix }}{% if multiple %}[]{% endif %}" 
  value="{{ item_value or (form_data.get(field.name, '') or '') if form_data else '' or '' }}"
  {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
  {% if field.required %}required{% endif %}
  {% if field.readonly %}readonly{% endif %}
/>