{% if field.label %}
  <label class="form-label mt-3">{{ field.label }}</label>
{% endif %}
<div class="struct-container" id="struct-container-{{ field.name }}">
  <div class="card p-3">
    {% for struct_field in field.fields %}
      {% set error_key = field.name + '.' +  struct_field.name%}

      {%
         with field=struct_field,
         error=form_errors.get(error_key, None) if form_errors else None,
         main_field_name=field.name,
         form_data=form_data.get(field.name, None) if form_data else None
       %}
        <div class="mb-3">
            {% include field.form_template %}
            {% if error %}
              {% for err_value in error %}
                <div class="invalid-feedback d-block">
                  {{ err_value }}
                </div>
              {% endfor %}
            {% endif %}
        </div>
        {% endwith %}
    {% endfor %}
</div>

