{% import "macros/dropdown_view.html" as dropdown with context %}
{% import "macros/form_view.html" as form_view with context %}
{% import "macros/link_view.html" as link_view with context %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ view.config.title }}</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
    <link
    rel="stylesheet"
    href="{{ url_for(__admin_route_name__ ~ ':statics', path='css/styles.css') }}"
    />
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="page">
      <aside
        class="navbar navbar-vertical navbar-expand-lg"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebar-menu"
            aria-controls="sidebar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <h1 class="navbar-brand navbar-brand-autodark">
            <a href="{{ url_for(__admin_route_name__ ~ ':index') }}">{{ __admin_panel_title__ }}</a>
          </h1>

          <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">            
              {% for view in views %}
                {% if (view | is_dropdown) %}
                  {{ dropdown.macro(view) }}
                {% endif %}
                
                {% if (view | is_form_view) %}
                  {{ form_view.macro(view) }}
                {% endif %}
                
                {% if (view | is_link_view) %}
                  {{ link_view.macro(view) }}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </aside>

      <div class="page-wrapper">
        <header class="navbar navbar-expand-md navbar-light d-print-none">
          <div class="container-xl d-flex justify-content-end">
            {% if request | is_user_authenticated %}
            {% set request_user=request.user %}
              <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown" aria-label="Open user menu">
                  {% if request_user.avatar_url %}
                    <span class="avatar avatar-sm" style="background-image: url({{ request.user.avatar_url }})"></span>
                  {% else %}
                    <span class="avatar avatar-sm"><i class="ti ti-user"></i></span>
                  {% endif %}
                  <div class="d-none d-xl-block ps-2">
                    <div>{{ request_user.username }}</div>
                    {% if request_user.info %}
                      <div class="mt-1 small text-secondary"></div>
                    {% endif %}
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <form action="{{ url_for(__admin_route_name__ ~ ':sign_out') }}" method="POST" style="display: inline;">
                    <button type="submit" class="dropdown-item border-0 w-100 text-start">Sign Out</button>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}
        </header>

        <div class="page-body">
          <div class="container-xl">
            {% block content %}
            {% endblock %}
          </div>
        </div>

        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                <!-- Placeholder -->
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/js/tabler.min.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
