{% extends "base.html" %} {% block content %}
<div class="page-wrapper w-100 d-flex">
  <div class="mx-auto w-80">
    <div class="text-center">
      <h1 class="mb-3">List</h1>
    </div>
    <div id="table-wrapper"></div>
  </div>
</div>

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/gridjs/6.2.0/theme/mermaid.min.css"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gridjs/6.2.0/gridjs.umd.js"></script>

<script>
  let url = "{{ url_for(__admin_route_name__~ ':api', identity=view.identity) }}"
  let rawColumns = {{ table_columns|safe }}
  let columns = rawColumns.map((item) => {
    return {
      id: item.id,
      name: item.name,
      width: item.width,
      sort: item.sort,
      hidden: item.hidden,
      formatter: (cell) => gridjs.html(cell)
    }
  });
  new gridjs.Grid({
    columns: columns,
    server: {
      url: url,
      then: data => data.results,
      total: data => data.count
    },
    pagination: {
      enabled: true,
      limit: {{ view.config.page_limit}},
      server: {
        url: (prev, page, limit) => `${prev}?limit=${limit}&offset=${page * limit}`
      },
    },
    sort: true,
    search: true
  }).render(document.getElementById("table-wrapper"));
</script>
{% endblock %}
